@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Imported Inter Font from Google Fonts */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #14120b;
}

nav {
    padding: 2px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 120px;
    background-color: #14120b;
    height: 60px;
}

.navbar-class {
    margin: 10px auto; 
    width:  82vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav div svg {
    width: 95px;
    color: #edecec;
}

nav div a {
    text-decoration: none;
    color: #edecec;
    padding: 14px;
    font-size: 14px;
    font-family: sans-serif;
}


nav div a:hover {
    color: #b7b5b4;
}

.signin-btn {
    color: #edecec;
    border: 1px solid #45433e;
    padding: 4px 8px;
    background-color: #14120b;
    border-radius: 20px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
}

.signin-btn:hover {
    background-color: #1b1913;
}

.btns {
    display: flex;
    gap: 10px;
}
.download-btn {
    color: #1b1913;
    background-color: #edecec;
    border: 1px solid #edecec;
    font-size: 14px;
    cursor: pointer;
    font-family: sans-serif;
    padding: 4px 8px;
    border-radius: 20px;
}

.download-btn:hover {
    background-color: #d7d6d5;
}

main {
    width: 82vw;
    margin: 10px auto;
}

main p {
    font-size: 26px;
    font-family: sans-serif;
    color: #edecec;
}

.paragraph-container {
    margin-top: 120px;
}

main button {
    margin-top: 20px;
    font-size: 16px;
    padding: 12px 18px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

main button:hover {
    background-color: #d7d6d5;
}

section img {
    width: 100%;
    margin-top: 50px;
    border-radius: 6px;
}

.trusted-section {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #edecec;
    font-size: 14px;
    margin-top: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.card {
    background-color: #1b1913;
    width: 10%;
    height: 100px;
    padding: 8px;
}

.card img {
    width: 70px;
    margin-top: -10px;
}

.feature-block1 {
    font-family: "Inter", sans-serif;
    width: 82vw;
    margin: 100px auto;
    padding: 20px;
    background-color: #1b1913;
    height: 600px;
    color: #edecec;
    display: flex;
}

.feature-block1:hover {
    background-color: #1d1b15;
    cursor: pointer;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.feature-text-2 {
    flex: 1;
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.feature-heading {
    font-size: 24px;
    color: #edecec;
}

.feature-paragraph {
    color: #9a9996;
    font-size: 24px;
    line-height: 1.3;
}

.feature-link {
    margin-top: 10px;
    text-decoration: none;
    color: #E54404;
    cursor: pointer;
}

.feature-link:hover {
    
    color: #bf4105;
}

.feature-block1 div img {
    width: 750px;
    margin-top: -10px;
    
}

.testimonal-heading {
    color: #edecec;
    text-align: center;
    font-size: 26px;
    font-family: "Inter", sans-serif;
}



.testimonal-card {
    font-family: "Inter", sans-serif;
    width: 400px;
    background-color: #1b1913;
    padding: 20px;
    height: 270px;
    border-radius: 8px;

}

.testimonal-paragraph {
    color: #edecec;
    font-size: 14px;
    line-height: 1.3;
}

.testimonal-name {
    color: #edecec;
    font-size: 14px;
}

.testimonal-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.testimonal-image {
    width: 40px;
    margin-top: 124px;
}

.testimonal-profession {
    color: #686763;
    font-size: 14px;
    margin-top: 2px;
}

.testimonal-text {
    margin-top: 120px;
}

.testimonal-cards {
    margin: 30px auto;
    width: 82vw;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.usecases-section {
    margin: 100px auto;
    width: 82vw;
}

.usecases-heading {
    font-size: 24px;
    color: #edecec;
    text-align: left;
    font-family: "Inter", sans-serif;
}

.usecases-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.usecases-card {
    height: 70vh;
    width: 94%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #1b1913;
    border-radius: 8px;
}

.usecases-card:hover {
    background-color: #1d1b15;
    cursor: pointer;
}

.usecases-card-heading {
    font-size: 14px;
    color: #edecec;
    font-family: "Inter", sans-serif;
}

.usecases-card-paragraph {
    margin-top: 5px;
    font-size: 14px;
    color: #9a9996;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}

.usecases-card-link {
    margin-top: 16px;
    font-size: 14px;
    text-decoration: none;
    color: #E54404;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.usecases-card-link:hover {
    color: #bf4105;
}

.usecases-card img {
    width: 360px;
    margin: 2px;
}

.changelog-section {
    margin: 20px auto;
    width: 82vw;
}

.changelog-heading {
    color: #edecec;
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 24px;
}


.changelog-card {
    background-color: #1b1913;
    padding: 20px;
}

.changelog-div {
    font-size: 14px;
    display: flex;
    gap: 10px;
    font-family: "Inter", sans-serif;
    color: #9b9a98;
    align-items: center;
}

.change-card-rating-text {
    border: 1px solid #9b9a98;
    padding: 2px 6px;
    border-radius: 16px;
}

.changelog-cards {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.changelog-card:hover {
    background-color: #1d1b15;
    cursor: pointer;
}

.changelog-card-text {
    margin-top: 10px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #edecec;
}


.changelog-cta {
    color: #E54404;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    gap: 4px;
}

.changelog-cta:hover {
    color: #bd3f03;
    cursor: pointer;
}

.team-section {
    margin: 20px auto;
    margin-top: 100px;
    width: 82vw;
}

.team-section-heading {
    color: #edecec;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    text-align: left;
}

.team-section button {
    font-family: "Inter", sans-serif;
    border: none;
    padding: 10px 18px;
    margin-top: 10px;
    border-radius: 20px;
}

.team-section button:hover {
    background-color: #d7d6d5;
    cursor: pointer;
}

.recent-highlights-section {
    background-color: #1b1913;
    width: 100%;
    height: 90vh;
    margin-top: 120px;
}

.recent-highlights-container {
    width: 82vw;
    margin: 20px auto;
    display: flex;
    padding-top: 100px;
    gap: 230px;
}

.recent-highlights-heading {
    color: #edecec;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.recent-highlights-card-heading {
    color: #edecec;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.recent-highlights-card-paragraph {
    color: #9d9c9a;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.3;
}

.recent-highlights-card-product {
    color: #9d9c9a;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

.recent-highlights-card {
    background-color: #1d1b15;
    padding: 20px;
    border-radius: 8px;
}

.recent-highlights-card:hover {
    background-color: #26241e;
    cursor: pointer;
}

.recent-highlights-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recent-highlights-link {
    color: #E54404;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    margin-left: 5px;
}

.recent-highlights-link:hover {
    color: #bd3f03;
    cursor: pointer;
}

.final-cta {
    margin: 10px auto;
    width: 82vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.final-cta p {
    color: #edecec;
    font-family: "Inter", sans-serif;
    font-size: 64px;
}

.final-cta button {
    color: #1b1913;
    background-color: #edecec;
    border: 1px solid #edecec;
    font-size: 14px;
    cursor: pointer;
    font-family: sans-serif;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
}

.final-cta button:hover {
    background-color: #d7d6d5;
}

.footer-section {
    background-color: #1b1913;
    height: 60vh;
}

.footer-section-container {
    padding: 60px 30px;
    width: 82vw;
    margin: 20px auto;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.footer-section-container li {
    list-style: none;
    color: #edecec;
    font-size: 13px;

}

.footer-section-container li:first-child {
    color: #999896;
}

.footer-section-container ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-section-list-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.copyright-right {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 14px;
}

.copyright {
    color: #999896;
    font-size: 12px;
}

.language-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: #2b2923;
    padding: 6px 12px;
    border-radius: 80px;
}

.display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #2b2923;
    padding: 6px 12px;
    border-radius: 80px;

}

.display-and-language {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #edecec;
    gap: 20px;
    font-size: 14px;
}